<aside>
  <div class="text-sm font-light text-gray-400 uppercase pl-3 pr-6">
    <div class="mb-8">
      <p class="font-semibold mb-1">colección</p>
      <a
        *ngFor="let collection of collections"
        class="block py-1 hover:text-ink"
        routerLink="/store/collections/shop"
        [queryParams]="{ categoria: collection.slug }"
        routerLinkActive="text-ink font-medium"
        >{{ collection.label }}</a
      >
    </div>
    <div class="mb-8">
      <p class="font-semibold mb-1">categoría</p>
      <a
        *ngFor="let category of categories"
        class="block py-1 hover:text-ink"
        routerLink="/store/collections/shop"
        [queryParams]="{ categoria: category.slug }"
        routerLinkActive="text-ink font-medium"
        >{{ category.label }}</a
      >
      <a
        class="block py-1 hover:text-ink"
        routerLink="/store/collections/shop"
        routerLinkActive="text-ink font-medium"
        [routerLinkActiveOptions]="{ exact: true }"
        >Ver todo</a
      >
    </div>
  </div>
</aside>
