<div mat-dialog-title>
  <p class="text-sm font-normal text-gray-800 uppercase ml-4">
    cart
    <button mat-button mat-dialog-close class="float-right">x</button>
  </p>
</div>
<div mat-dialog-content *ngIf="items.length; else emptyTemplate" class="h-screen">
  <ul>
    <li *ngFor="let itemCart of items" class="flex relative border-y">
      <button (click)='removeItemShoppingCart(itemCart.item._id)'><i class="fa-solid fa-trash-can absolute top-1 right-2"></i></button>
      <img
        src="../../../../assets/generic.jpg"
        style="max-height: 100%; max-width: 90px"
      />
      <div class="ml-4">
        <div class="my-1.5">
          <p class="text-sm font-normal text-gray-800">
            {{ itemCart?.item?.collectionId?.description }}
          </p>
          <small class="text-sm font-normal text-gray-500"
            >{{ itemCart?.item?.sizeId?.description }}
          </small>
        </div>
        <div class="mb-1.5">
          <p class="text-sm font-normal text-gray-500">
            S./ {{ itemCart?.price }}
          </p>
        </div>
        <div class="mb-1.5">
          <button class="text-gray border px-2">+</button>
          <button class="text-gray border px-2">{{ itemCart?.quantity }}</button>
          <button class="text-gray border px-2">-</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div>
  <button
    class="bg-gray-600 text-sm font-normal text-white text-center uppercase w-full py-4"
    (click)="checkout()"
  >
    checkout now . S/.{{totalPrice}}
  </button>
</div>

<ng-template mat-dialog-content #emptyTemplate>
  <div class="relative h-screen">
    <button
      class="absolute bg-gray-100 rounded-full drop-shadow-lg p-20 left-1/2 top-1/2 -translate-x-2/4 -translate-y-2/4"
    >
      <i class="fas fa-shopping-cart fa-2xl"></i>
    </button>
    <div class="h-1/2 w-full bg-gray-300 flex justify-center items-center">
        <p class="text-gray-600 font-light text-2xl">Your cart is empty</p>
    </div>
    <div class="h-1/2 w-full bg-gray-200"></div>
  </div>
</ng-template>
