/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variables';
@import './mixins';

// @import '~@angular/material/theming';
// @include mat-core();

// .yellow-theme {
//     $yellow-theme-primary: mat-palette($mat-yellow, 400);
//     $yellow-theme-accent:  mat-palette($mat-yellow, 400);

//     $yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent);

//     @include angular-material-theme($yellow-theme);
// }

/* Resetting default browser styles */
html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

/* Box sizing border-box for all elements */
* {
    box-sizing: border-box;
}

/* Global typography */
// body {
//     font-family: Arial, sans-serif;
//     font-size: 16px;
//     line-height: 1.5;
//     color: #333;
// }

/* Links */
// a {
//     color: #007bff;
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: underline;
// }

/* Headings */
// h1, h2, h3, h4, h5, h6 {
//     font-weight: bold;
//     margin-bottom: 10px;
// }

/* Basic layout */
// .container {
//     width: 100%;
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 20px;
// }

/* Responsive media queries */
// @media (max-width: 768px) {
    /* Add responsive styles here */
// }