<div>
  <div class="grid grid-rows-3 grid-flow-col gap-4 h-screen">
    <div class="row-span-3 h-auto bg-cover bg-center"
    style="background-image: url(./assets/grid/grid-img1.jpg)"></div>
    <div class="row-span-1 h-auto bg-cover bg-center"
    style="background-image: url(./assets/grid/grid-img2.jpg)"></div>
    <div class="row-span-2 h-auto bg-cover bg-center"
    style="background-image: url(./assets/grid/grid-img3.jpg)"></div>
    <div class="row-span-2 h-auto bg-cover bg-center"
    style="background-image: url(./assets/grid/grid-img3.jpg)"></div>
    <div class="row-span-1 h-auto bg-cover bg-center"
    style="background-image: url(./assets/grid/grid-img2.jpg)"></div>
  </div>
</div>
