<div>
    <div
    class="h-screen bg-cover bg-center"
    style="background-image: url(../../../../assets/cover.jpg)"
  ></div>
  <div
    class="h-screen bg-cover bg-center"
    style="background-image: url(../../../../assets/cover1.jpg)"
  ></div>
  <div
    class="h-screen bg-cover bg-center flex justify-center items-center"
    style="background-image: url(../../../../assets/cover2.jpg)"
  >
    <button
      class="bg-white text-sm font-light text-gray-600 uppercase py-6 px-12 z-5"
    >
      running from my demons
    </button>
  </div>
  <div
    class="h-screen bg-cover bg-center flex justify-center items-center"
    style="background-image: url(../../../../assets/cover3.jpg)"
  >
    <button
      class="bg-white text-sm font-light text-gray-600 uppercase py-6 px-12 z-5"
    >
      enter
    </button>
</div>