  <div
    class="bg-gray-100 aspect-square cursor-pointer overflow-hidden"
    [routerLink]="['/store/pages', item?._id]"
  >
    <div
      class="bg-cover bg-center img-card w-full h-full"
      [style.background-image]="'url(' + imageUrl + ')'"
    ></div>
  </div>
  <div
    class="flex flex-col items-start text-sm font-light text-gray-800 mt-3 description"
  >
    <span class="uppercase tracking-widest2 text-xs text-gray-500">{{ item?.categoryId?.description}}</span>
    <p class="opacity-0 mt-1 font-medium">
      {{ item?.sizeId?.description}}<br />
      S/. {{ item?.price}}
    </p>
  </div>
