<div class="container mx-auto p-24">
  <div class="flex flex-col text-center">
    <div>
      <div
        class="image bg-cover bg-center mx-auto mb-4"
        style="
          background-image: url(../../../../assets/collections/collection-1.jpg);
        "
      ></div>
      <p class="text-lg font-semibold uppercase text-gray-800">collection-1</p>
      <p class="text-sm font-light text-gray-800 px-80">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        provident qui quia fugit vitae numquam illum nobis. Laudantium magnam
        suscipit, nihil velit temporibus architecto hic blanditiis. Repudiandae
        quidem dignissimos provident.
      </p>
      <button class="bg-transparent text-sm font-light text-gray-800 border uppercase py-3 px-5 mb-4">
        shop collection
      </button>
    </div>
    <div>
      <div
        class="image bg-cover bg-center mx-auto mb-4"
        style="
          background-image: url(../../../../assets/collections/collection-2.jpg);
        "
      ></div>
      <p class="text-lg font-semibold uppercase text-gray-800">collection-1</p>
      <p class="text-sm font-light text-gray-800 px-80">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        provident qui quia fugit vitae numquam illum nobis. Laudantium magnam
        suscipit, nihil velit temporibus architecto hic blanditiis. Repudiandae
        quidem dignissimos provident.
      </p>
      <button class="bg-transparent text-sm font-light text-gray-800 border uppercase py-3 px-5 mb-4">
        shop collection
      </button>
    </div>
    <div>
      <div
        class="image bg-cover bg-center mx-auto mb-4"
        style="
          background-image: url(../../../../assets/collections/collection-3.jpg);
        "
      ></div>
      <p class="text-lg font-semibold uppercase text-gray-800">collection-1</p>
      <p class="text-sm font-light text-gray-800 px-80">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        provident qui quia fugit vitae numquam illum nobis. Laudantium magnam
        suscipit, nihil velit temporibus architecto hic blanditiis. Repudiandae
        quidem dignissimos provident.
      </p>
      <button class="bg-transparent text-sm font-light text-gray-800 border uppercase py-3 px-5 mb-4">
        shop collection
      </button>
    </div>
  </div> 
</div>
