<aside class="">
  <div class="text-sm font-light text-gray-400 uppercase pl-3 pr-6">
    <div class="mb-8">
      <button class="font-semibold mb-1 text-left relative w-full"><span class="uppercase">collection</span><i class="fas fa-angle-down absolute right-1"></i></button>
      <div class="flex justify-between py-1">
        <a>running for</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>schoolar</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>casual</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
    </div>
    <div class="mb-8">
      <button class="font-semibold mb-1 text-left relative w-full"><span class="uppercase">category</span><i class="fas fa-angle-down absolute right-1"></i></button>
      <div class="flex justify-between py-1">
        <a>tops</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>jumpers</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>jackets</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>bottoms</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>accessories</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>shop all</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
    </div>
    <div class="mb-8">
      <button class="font-semibold mb-1 text-left relative w-full"><span class="uppercase">size</span><i class="fas fa-angle-down absolute right-1"></i></button>
      <div class="flex justify-between py-1">
        <a>xs</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>s</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>m</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>l</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>xl</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>2xl</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>2xs</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
    </div>
    <div class="mb-8">
      <button class="font-semibold mb-1 text-left relative w-full"><span class="uppercase">filter by colour</span><i class="fas fa-angle-down absolute right-1"></i></button>
      <div class="flex justify-between py-1">
        <a>black</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>white</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>nude</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>navy</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>red</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>pink</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>purple</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>brown</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>gray</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
      <div class="flex justify-between py-1">
        <a>blue</a>
        <input checked type="checkbox" value="" class="w-4 h-4 text-gray-600 bg-gray-100 rounded border-gray-300 focus:ring-gray-500 focus:ring-2">
      </div>
    </div>
  </div>
</aside>
