<div id="contacto" class="container flex flex-col sm:flex-row justify-between gap-8 text-xs font-medium tracking-widest2 text-gray-500 uppercase px-6 py-16 mx-auto border-t border-gray-100">
    <ul class="">
      <li class="mb-3">contacto</li>
      <li class="mb-3">mi cuenta</li>
      <li class="mb-3">compromiso verde</li>
    </ul>
    <ul class="">
      <li class="mb-3">envíos</li>
      <li class="mb-3">cambios y devoluciones</li>
      <li class="mb-3">suscribirse</li>
    </ul>
    <ul class="">
      <li class="mb-3">términos y condiciones</li>
      <li class="mb-3">política de privacidad</li>
      <li class="mb-3">política de envíos</li>
    </ul>
  </div>
