<div class="container mx-auto p-20">
    <div class="flex flex-row">
        <div class="flex-1 pr-20">
            <a class="block text-gray-600 text-4xl font-semibold uppercase py-4 mb-2" routerLink="/store/content">Cursed</a>
            <div class="mb-4">
                <mat-vertical-stepper #stepper>
                    <mat-step [stepControl]="informationForm">
                      <form [formGroup]="informationForm">
                        <ng-template matStepLabel>Information</ng-template>
                        <div class="mb-4">
                            <div class="flex border border-gray-300 p-3">
                                <button class="bg-yellow-600 text-white rounded p-2 flex-auto"><i class="fa-brands fa-paypal fa-xl"></i></button>
                                <button class="bg-blue-600 text-white rounded p-2 flex-auto ml-2"><i class="fa-brands fa-amazon-pay fa-xl"></i></button>
                                <button class="bg-gray-900 text-white rounded p-2 flex-auto ml-2"><i class="fa-brands fa-google-pay fa-xl"></i></button>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex justify-between mb-2">
                                <label for="email" class="block text-sm font-medium text-gray-900">Contact information</label>
                                <span class="text-sm font-medium text-gray-900"> Already have an account? <a href="">Log in</a> </span>
                            </div>
                            <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2" placeholder="Email" required>
                            <input checked id="checked-checkbox" type="checkbox" value="" class="text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                            <label for="checked-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email me with news and offers</label>
                        </div>
                        <div class="mb-4">
                            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Delivery method</label>
                            <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
                                <input id="ship" type="radio" value="" name="ship" class=" text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                                <label for="ship" class="ml-2 text-sm font-medium text-gray-900"><i class="fa-solid fa-truck"></i> Ship</label>                        
                            </div>
                            <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
                                <input id="pickup" type="radio" value="" name="pickup" class=" text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                                <label for="pickup" class="ml-2 text-sm font-medium text-gray-900"><i class="fa-solid fa-shop"></i> Pick up</label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Shipping address</label>
                            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2">
                                <option selected>Choose a country</option>
                                <option value="US">United States</option>
                                <option value="CA">Canada</option>
                                <option value="FR">France</option>
                                <option value="DE">Germany</option>
                            </select>
                            <div class="flex">
                                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 mb-2 flex-auto" placeholder="First name" required>
                                <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 mb-2 ml-2 flex-auto" placeholder="Last name" required>    
                            </div>
                            <input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2" placeholder="Company" required>
                            <input type="text" id="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2" placeholder="Address" required>
                            <input type="text" id="apartment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2" placeholder="Apartment" required>
                            <div class="flex">
                                <input type="text" id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/3 p-2.5 mb-2 flex-auto" placeholder="City" required>
                                <select id="regions" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/3 p-2.5 mb-2 ml-2 flex-auto">
                                    <option selected>Choose a region</option>
                                    <option value="PE-CUS">Cusco</option>
                                    <option value="PE-CUS">Cusco</option>
                                    <option value="PE-CUS">Cusco</option>
                                    <option value="PE-CUS">Cusco</option>
                                    <option value="PE-CUS">Cusco</option>
                                </select>                
                                <input type="text" id="postal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 mb-2 ml-2 flex-auto" placeholder="Postal code" required>    
                            </div>
                            <input type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 mb-2" placeholder="Phone" required>
                            <input checked id="checked-checkbox" type="checkbox" value="" class="text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                            <label for="checked-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Text me with news and offers</label>
                        </div>
                        </form> 
                    </mat-step>
                  </mat-vertical-stepper>
            </div>
            <div class="flex justify-between mt-6">
                <a class="text-gray-900 text-sm font-medium py-4" routerLink="/store/content">
                    <span class=""> <i class="fa-solid fa-angle-left"></i> Return to cart </span>
                </a>
                <button class="bg-gray-600 text-white text-sm font-medium rounded p-2">
                    Continue to shipping
                </button>
            </div>
        </div>
        <div class="flex-1 hidden md:block pl-20 border-l border-gray-400">
            <app-sidebar-checkout></app-sidebar-checkout>
        </div>
    </div>
</div>
