<div class="container flex justify-between items-center text-sm font-light text-gray-600 uppercase p-20 mx-auto">
    <ul class="">
      <li class="mb-3">contact</li>
      <li class="mb-3">my account</li>
      <li class="mb-3">going green</li>
    </ul>
    <ul class="">
      <li class="mb-3">delivery</li>
      <li class="mb-3">returns & refunds</li>
      <li class="mb-3">subscribe</li>
    </ul>
    <ul class="">
      <li class="mb-3">terms and conditions</li>
      <li class="mb-3">privacy policy</li>
      <li class="mb-3">shipping policy</li>
    </ul>
  </div>
