
<div class="container grid grid-cols-4 gap-5 mx-auto">
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image2.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image2.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image2.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image3.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image3.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image3.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image4.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image4.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
  <div>
    <div
      class="bg-cover bg-center img-card h-80"
      style="background-image: url(../../../../assets/cards/image4.jpg)"
    ></div>
    <div class="flex flex-col items-center text-sm font-light text-gray-600 my-2 description">
      <span class="ext-sm uppercase">items 1</span>
      <p class="opacity-0">Hoddie <br/>S./100</p>
    </div>
  </div>
</div>
