<div class="fixed z-10 w-full">
  <nav class="bg-transparent backdrop-blur text-white uppercase border-b border-white hover:text-gray-400 hover:bg-white px-2">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a class="flex items-center text-4xl font-semibold" routerLink="/store/home">
          <span class="py-4"> Cursed </span>
        </a>
        <div class="flex items-center text-sm font-light">
          <div class="dropdown">
            <a href="" class=" mx-3 my-1 hover:border-b border-b-gray-400" routerLink="/store/collection"><span>collections</span></a>
            <div class="dropdown-menu absolute hidden z-50 my-4 bg-white rounded divide-y divide-gray-100 shadow" id="dropdown">
              <ul class="py-1 text-gray-700">
                <li class="py-2 px-4 hover:bg-gray-100"> collection #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> collection #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> collection #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> collection #1</li>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <a href="" class=" mx-3 my-1 hover:border-b border-b-gray-400"><span>shop more</span></a>
            <div class="dropdown-menu absolute hidden z-50 my-4 bg-white rounded divide-y divide-gray-100 shadow" id="dropdown">
              <ul class="py-1 text-gray-700">
                <li class="py-2 px-4 hover:bg-gray-100"> items #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> items #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> items #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> items #1</li>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <a href="" class=" mx-3 my-1 hover:border-b border-b-gray-400"><span>features</span></a>
            <div class="dropdown-menu absolute hidden z-50 my-4 bg-white rounded divide-y divide-gray-100 shadow" id="dropdown">
              <ul class="py-1 text-gray-700">
                <li class="py-2 px-4 hover:bg-gray-100"> features #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> features #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> features #1</li>
                <li class="py-2 px-4 hover:bg-gray-100"> collection #1</li>
              </ul>
            </div>
          </div>
          <a href="" class=" mx-3 my-1"><i class="fas fa-user"></i></a>
          <a href="" class=" mx-3 my-1"><i class="fas fa-search"></i></a>
          <a href="" class=" mx-3 my-1"><i class="fas fa-shopping-cart"></i></a>
          <a href="" class=" mx-3 my-1"><span>pen s/.</span><i class="fas fa-angle-down"></i></a>
        </div>
      </div>
    </nav>
</div>
  
  